@model ProjectLightSwitch.Models.StoryResponseCreationViewModel
<h3>@ProjectLightSwitch.Views.StoryPortal.StoryResources.Part1Header</h3>
<table class="input-form">
    <tr>
        <td>Age:</td>
        <td>
            <input type="text" id="age" name="age" data-rule-required="true" data-rule-min="13" data-rule-max="150" />
        </td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>
            <div id="gender">
                <input type="radio" id="radioM" name="gender" value="M" data-rule-required="true"><label for="radioM">@ProjectLightSwitch.Views.StoryPortal.StoryResources.Male</label>
                <input type="radio" id="radioF" name="gender" value="F"><label for="radioF">@ProjectLightSwitch.Views.StoryPortal.StoryResources.Female</label>
                <input type="radio" id="radioI" name="gender" value="I"><label for="radioI">@ProjectLightSwitch.Views.StoryPortal.StoryResources.Intersex</label>
            </div>
        </td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>
            <select name="country" data-rule-min="1">
            @foreach (var lang in Model.CountryListItems)
            { 
                <option value="@lang.Value">@lang.Text</option>
            }
            </select>
    </tr>
</table>