@model ProjectLightSwitch.Models.StoryTypesViewModel
@{
    ViewBag.Title = "Browse available story types";
}


<section>
    <h2>Search for Others' Stories</h2>
    @Html.ActionLink("View Responses", "Search", null, new { @class = "button1" })
    <div class="margin-large"></div>
    <h2>Share your Story</h2>
</section>
<section class="accent">
    <h3>Search for a Story Type</h3>
    @using (Html.BeginForm("Browse", "StoryPortal", null, FormMethod.Get))
    {
        @Html.LabelFor(t => t.SearchTerm)
        <span>: </span>
        @Html.EditorFor(t => t.SearchTerm)
        <input type="submit" value="Search" />
    }
</section>
<section>
        @if (!Model.StoryTypeViewModels.Any())
    { 
        if(!string.IsNullOrWhiteSpace(@Model.SearchTerm))
        {
            <p class="i">No story types containing &quot;@Model.SearchTerm&quot; were found.</p>
        }
        else
        {
            <p class="i">No story types have been created yet.</p>
        }
    }

    @for (int i = 0; i < Model.StoryTypeViewModels.Count(); i++)
    {
        var storyType = Model.StoryTypeViewModels.ElementAt(i);

        for (int j = 0; j < storyType.LocalizedStoryTypes.Count(); j++)
        {
            var localizedStoryType = storyType.LocalizedStoryTypes.ElementAt(j);
            <div class="story-type">
                <div class="b center">
                    @Html.ActionLink(localizedStoryType.Title, "Create", new { id = localizedStoryType.LocalizedStoryTypeId })
                </div>
                <h3>
                    @Html.LabelFor(m => m.StoryTypeViewModels.ElementAt(i).LocalizedStoryTypes.ElementAt(j).Description)
                </h3>
                <p>
                    @Html.DisplayFor(m => m.StoryTypeViewModels.ElementAt(i).LocalizedStoryTypes.ElementAt(j).Description)
                </p>
                <div>
                    <h3 class="nopadding nomargin">Story Tags</h3>
                    @if(Model.StoryTypeViewModels.ElementAt(i).Tags.Any())
                    {
                        <ul class="tagBreadcrumbs">
                            @foreach (var tag in Model.StoryTypeViewModels.ElementAt(i).Tags)
                            {
                                <li>@tag.text</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="i">There are no tags associated with this story type.</span>
                    }

                    @*Shouldn't be needed*@
                    <br class="clear" />
                </div>
            </div>
        }
    }
</section>
