@model ProjectLightSwitch.Models.StoryTypesViewModel
@{
    ViewBag.Title = "Browse available story types";
}

<section class="accent-block padding-large">
    <h3>Search</h3>
    @using (Html.BeginForm("Browse", "StoryPortal", null, FormMethod.Get))
    {
        @Html.LabelFor(t => t.SearchTerm)
        <span>: </span>
        @Html.EditorFor(t => t.SearchTerm)
        <input type="submit" value="Search" />
    }
</section>
<section class="padding-large">
    <h2>Story Types to Create</h2>
    @if (!Model.StoryTypeViewModels.Any())
    { 
        if(!string.IsNullOrWhiteSpace(@Model.SearchTerm))
        {
            <p class="i">No story types containing &quot;@Model.SearchTerm&quot; were found.</p>
        }
        else
        {
            <p class="i">No story types have been created yet.</p>
        }
    }

    @for (int i = 0; i < Model.StoryTypeViewModels.Count(); i++)
    {
        var storyType = Model.StoryTypeViewModels.ElementAt(i);

        for (int j = 0; j < storyType.LocalizedStoryTypes.Count(); j++)
        {
            var localizedStoryType = storyType.LocalizedStoryTypes.ElementAt(i);
            <div class="story-type">
                <div class="b center">
                    @Html.ActionLink(localizedStoryType.Title, "Create", new { id = localizedStoryType.LocalizedStoryTypeId })
                </div>
                <h3>
                    @Html.LabelFor(m => m.StoryTypeViewModels.ElementAt(i).LocalizedStoryTypes.ElementAt(j).Description)
                </h3>
                <p>
                    @Html.DisplayFor(m => m.StoryTypeViewModels.ElementAt(i).LocalizedStoryTypes.ElementAt(j).Description)
                </p>
                <div>
                    <h3 class="nopadding nomargin">Story Tags</h3>
                    <ul class="tagBreadcrumbs">
                        @foreach (var tag in Model.StoryTypeViewModels.ElementAt(i).Tags)
                        {
                            <li>@tag.text</li>
                        }
                    </ul>
                    <br class="clear" />
                </div>
            </div>
        }
    }
</section>
