@model ProjectLightSwitch.Models.StoryResponseDetailsModel

@{
    ViewBag.Title = "View";
}

@section head { 
<style type="text/css">
    #story-container {
        padding: 10px;
    }
    #story-container > #story-content {
        float:left;
        width: 70%;
        word-break: break-all;
    }
    #story-container > #related-content {
        float:right;
        width:30%;
    }
</style>

<script type="text/javascript">
    function thisHelped() {
        $.ajax({
            cache: true,
            data: { 'id': '@Model.Response.StoryResponseId' },
            url: '@Url.Action("ThisHelped", "StoryPortal")',
            type: "POST"
        }).success(function (response) {
            $('#this-helped').hide();
            $('#this-helped-label').show();
        });
    }
</script>
}
<section>
    <div id="story-container">
        <div id="story-content">
            <h1>@Model.Response.Title</h1>
            <h3 class="inline">Story Tags: </h3>
            <div>
                @if (Model.Tags != null && Model.Tags.Any())
                {
                    <ul class="tagBreadcrumbs">
                        @foreach (var tag in Model.Tags)
                        {
                            <li title="@tag.FullPathLabel">@tag.AbbreviatedPathLabel</li>
                        }
                    </ul>
                }
                else
                {
                    <p>This story is not tagged.</p>
                }
            </div>
            <h3>About Me:</h3>
            <p class="personal-description">
                I am a @Model.Response.Age year old
                @(ProjectLightSwitch.Models.Enums.EnumExtensions.ParseGender(Model.Response.Gender))
                from @(Model.Response.Country.Country1).
            </p>

            <h3>My Story:</h3>
            <p>@Model.Response.Story</p>

            <h3>Questions and Answers:</h3>
            @foreach (var ans in Model.Response.Answers)
            {
                <p><b>@ans.Question.Prompt</b></p>
                <p>@ans.AnswerText</p>
            }

            <h3>Did you find this story helpful?</h3>
            <a id="this-helped" href="#" class="button2" onclick="thisHelped();return false;">Let us Know</a>
            <span id="this-helped-label" style="display:none;">Thank you for sharing your opinion about this story.</span>
        </div>
        <div id="related-content">
            <div class="right margin">
                @Html.ActionLink("Back To Search", "Search", null, new { @class="button1" })
            </div>

            <h3 class="margin-medium">Similar Stories</h3>
            @if (Model.RelatedResponses.Any())
            {
                foreach (var relatedResponse in Model.RelatedResponses)
                {
                    <div>
                        <h3>@Html.ActionLink(relatedResponse.Title, "View", new {id=relatedResponse.StoryResponseId})</h3>
                        <span class="personal-description">
                            I am a @relatedResponse.Age year old
                            @(ProjectLightSwitch.Models.Enums.EnumExtensions.ParseGender(relatedResponse.Gender))
                            from @relatedResponse.Country.Country1
                        </span>
                        <p>
                            @(relatedResponse.Story.Substring(0, Math.Min(relatedResponse.Story.Length, 150)) + "...")
                        </p>
                    </div>
                }
            }
            else
            {
                <i>No similar stories were found.</i>
            }
        </div>
        <br class="clear" />
    </div>
</section>