@model List<TestSite.Models.TagSystem.TagPathInfo>

@{
    ViewBag.Title = "TagPathTest";
    
}

<h2>TagPathTest</h2>

@using(Html.BeginForm())
{
    @(Html.Label("q", "Search for a tag"))

    @:Enter a search term: @Html.Editor("q") 
    <input type="submit" value="Search" />
    <br />
    
    @:Results for @ViewData["SearchTerm"]
    for (int i = 0; i < Model.Count; i++)
    {
        var group = Model[i];

        var tagId = group.TagId;
        <h3>TAG ID: @tagId</h3>

        string path = null;
        var list = group.Labels.ToList();
        string endTagLabel = "<b>" + group.Labels.Last() + "</b>";
        list.RemoveAt(list.Count - 1);
        path = String.Join(" > ", list);

        <p>TAG PATH: @path &gt; @Html.Raw(endTagLabel)</p> 
    }    
}