@model ProjectLightSwitch.Models.TagViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
    int initialChildBoxes = 6;
}

@section head {

    @Styles.Render("~/Content/tagnav")
    @Scripts.Render("~/bundles/tags")
    @Scripts.Render("~/bundles/jqueryui")
}

@section scripts{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            var tagnav = new TagNavigator('#tagnav', {
                enabled: false,
                editUrlFormat: '@Url.Action("Edit", "Tags", new { area = "SiteAdmin", tagid = "(tagid)" }).Replace("(tagid)", "{0}")',
            });
            $('.tag-type').buttonset();
        });
    </script>
}
<section>
    <h2>Edit Tag </h2>
    @Html.ActionLink("Go Back", "Index", new { id = Model.Tag.TagId })

    <section class="tag-section">
        <h3>Currently Selected Tag: <u>@Model.Translations[ProjectLightSwitch.Models.Language.DefaultLanguageId.ToString()]</u></h3>
        <div id="tagnav"></div>
    </section>

    @using (Html.BeginForm("Rename", "Tags", new { area = "SiteAdmin" }, FormMethod.Post))
    {
        <section class="tag-section">
            <h3>Change Name</h3>
            @Html.HiddenFor(m => m.Tag.TagId)
            @Html.HiddenFor(m => m.Tag.TagType)
            <div id="addTextContainer">
                <table>
                    @foreach (var lang in Model.Languages)
                    {
                        <tr>
                            <td>
                                @lang.Description:
                            </td>
                            <td>
                                @{
                        //string text;
                        //Model.Translations.TryGetValue(lang.LanguageId, out text);
                        var attrs = lang.LanguageId == ProjectLightSwitch.Models.Language.DefaultLanguageId
                            ? new Dictionary<string, object>()
                                {
                                    { "class", "b" }, { "data-rule-required", "true" }
                                }
                    : null;

                        if (!Model.Translations.ContainsKey(lang.LanguageId.ToString()))
                        {
                            Model.Translations[lang.LanguageId.ToString()] = string.Empty;
                        }

                                }
                                @Html.TextBoxFor(m => m.Translations[lang.LanguageId.ToString()], attrs)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="full-width" value="Update Tag Names">
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    }

    @* Can this tag have children?*@
    @if (Model.Tag.TagType == (byte)ProjectLightSwitch.Models.Enums.TagType.Category || Model.Tag.TagType == (byte)ProjectLightSwitch.Models.Enums.TagType.NavigationalTag)
    {
        using (Html.BeginForm("AddChildren", "Tags", new { area = "SiteAdmin" }, FormMethod.Post))
        {
            <section class="tag-section">
                <h3>Add Children</h3>
                <table id="addTextContainer">
                    <thead>
                        <tr>
                            <th>Tag Type</th>
                            <th>English Text</th>
                        </tr>
                    </thead>

                    @for (int i = 0; i < initialChildBoxes; i++)
                    {
                        <tr>
                            <td>
                                @Html.Hidden("model[" + i + "].Tag.TagId", Model.Tag.TagId)
                                <div class="tag-type">
                                    <input type="radio" id="tt_@(i)_sel" name="model[@i].Tag.TagType" value="@((int)ProjectLightSwitch.Models.Enums.TagType.SelectableTag)" checked />
                                    <label for="tt_@(i)_sel">Selectable tag</label>
                                    <input type="radio" id="tt_@(i)_nav" name="model[@i].Tag.TagType" value="@((int)ProjectLightSwitch.Models.Enums.TagType.NavigationalTag)" />
                                    <label for="tt_@(i)_nav">Navigational tag</label>
                                </div>
                            </td>
                            <td>
                                @Html.TextBox("model[" + i + "].EnglishText")
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2"><input class="full-width" type="submit" value="Add children" /></td>
                    </tr>
                </table>
            </section>
        }
    }
    @using (Html.BeginForm("Remove", "Tags", new { area = "SiteAdmin" }, FormMethod.Post))
    {
        <section class="tag-section">
            <h3>Delete Tag</h3>
            @Html.Hidden("TagId", Model.Tag.TagId)
            <input type="submit" value="DELETE THIS TAG" onclick="return confirm('Do you really want to delete this tag?')" />
        </section>
    }
</section>
