@model ProjectLightSwitch.Models.TagEditViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
    string childTxtNameFormat = "Children[(0)].EnglishText";
    string childRadioTypeFormat = "Children[(0)].TagType";
    int initialChildBoxes = 3;
}

@section head {


    <style type="text/css">

    form {
        background-color: lightgray;
        padding:10px;
        margin:10px;
    }

    </style>

    @Styles.Render("~/Content/tagnav")
    @Scripts.Render("~/bundles/tags")
}

@section scripts{
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {
            var tagnav = new TagNavigator('tagnav', {enabled: false});

            for (var i = 0; i < '@(initialChildBoxes)'; i++) {
                AddTextBox('addTextContainer');
            }
        });

        function AddTextBox(container) {
            container = $('#' + container);
            var childTxtNameFormat = '@childTxtNameFormat';
            var idx = container.find('input[type=text]').length;
            var radioName = '@childRadioTypeFormat'.replace("(0)", idx);
            var html = [
                '<tr><td><fieldset><legend>Type</legend>',
                '<label>Navigational Tag <input type="radio" style="display:inline" checked="checked" name="', radioName, '" value="', @((int)ProjectLightSwitch.Models.Enums.TagType.NavigationalTag), '"></label>',
                '<label>Selectable (End) Tag <input type="radio" style="display:inline" name="', radioName, '" value="', @((int)ProjectLightSwitch.Models.Enums.TagType.SelectableTag), '"> </label>',
                '</fieldset></td><td>',
                '<input style="display:block" type="text" name="' + childTxtNameFormat.replace('(0)', idx) + '" /></td></tr>'].join('');

            var rows = container.find('tr');
            if (rows.length > 0) {
                container.find('tr:last').after(html);
            }
            else {
                container.html(html);
            }
        }
    </script>
}

<h2>Edit @Model.Tag.EnglishText</h2>
@Html.ActionLink("Go Back", "Index", new { id=Model.Tag.TagId })

<form action="#" method="post">
    <h3>Selected Tag</h3>
    <div id="tagnav"></div>
</form>

@using (Html.BeginForm("AddChildren", "Tags", new { area = "SiteAdmin" }, FormMethod.Post))
{
    @Html.Hidden("ParentId", Model.Tag.TagId)
    <h3>Add Children</h3>
    @:(Clear a textfield to delete a child.)
    <table id="addTextContainer"></table>
    <input type="button" value="Add another textbox" onclick="AddTextBox('addTextContainer');" />
    <input type="submit" value="Add children" />
}

@using (Html.BeginForm("Remove", "Tags", new { area = "SiteAdmin" }, FormMethod.Post))
{ 
    <h3>Delete Tag</h3>
    @Html.Hidden("ParentId", Model.Tag.TagId)
    <input type="submit" value="DELETE THIS TAG" onclick="return confirm('Do you really want to delete this tag?')" />
}


@using (Html.BeginForm("ChangeName", "Tags", new { area = "SiteAdmin" }, FormMethod.Post))
{
    @Html.Hidden("TagId", Model.Tag.TagId)
    <h3>Change Name</h3>
    <div id="addTextContainer">
        <table>
            @foreach (var translation in Model.Translations)
            {
                if (translation.LanguageId != ProjectLightSwitch.Models.SiteSettings.DefaultLanguageId)
                {
                    <tr>
                        <td>@translation.LanguageDescription:</td>
                        <td>
                            <input type="text"
                                   name="@(childTxtNameFormat.Replace("(0)", translation.LanguageId.ToString()))"
                                   value="@(translation.TagText ?? string.Empty)" />
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><b>@translation.LanguageDescription:</b></td>
                        <td>
                            <input type="text" 
                                   style="font-weight:bold;"
                                   name="@(childTxtNameFormat.Replace("(0)", translation.LanguageId.ToString()))"
                                   value="@Model.Tag.EnglishText" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <input type="button" value="Add another textbox" onclick="AddTextBox('addTextContainer', '@childTxtNameFormat');" />
    <input type="submit" value="Add children" />
}




