@model ProjectLightSwitch.Models.StoryType

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured"></section>
}

@section scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script language="javascript" type="text/javascript">

    var NumRows = 0;
    function AddQuestionRow(tableId, prompt) {
        $('<tr>').append($('<td>').text(prompt)).append($('<td>').append($('<input>').attr('name', 'Questions['+NumRows+'].QuestionText'))).append('<input type="hidden" name="Questions['  +  NumRows +'].Options" value="foo" />').appendTo($('#' + tableId));
        NumRows++;
    }
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StoryType</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <table id="questions"></table>
        <input type="button" value="Add Row" onclick="AddQuestionRow('questions', 'Add a question');" />
        <input type="submit" value="submit" />

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}