@model ProjectLightSwitch.Models.LocalizedStoryTypeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

@section head {
    @Styles.Render("~/Content/tagnav")
}

<section>
    @Html.ActionLink("Go Back", "Index")

    <h2>@Html.DisplayFor(m => m.LocalizedStoryType.Title)</h2>
    <h3>@Html.LabelFor(m => m.LocalizedStoryType.Description)</h3>
    <p>@Html.DisplayFor(m => m.LocalizedStoryType.Description)</p>

    <h3>@Html.LabelFor(m => m.LocalizedStoryType.Language.Description)</h3>
    <p>@Html.DisplayFor(m => m.LocalizedStoryType.Language.Description)</p>

    <h3>Questions</h3>
    <ol>
        @for (int i = 0; i < Model.LocalizedStoryType.Questions.Count; i++)
        {
            <li>
                @Model.LocalizedStoryType.Questions.ElementAt(i).Prompt
            </li>
        }
    </ol>

    <h3>Tags</h3>
    <ul class="tagBreadcrumbs">
        @foreach (var tag in Model.Tags)
        {
            <li>@tag.text</li>
        }
    </ul>

</section>