@{
    string controller = Url.RequestContext.RouteData.Values["Controller"] as string;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Project Light Switch - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        
        @Scripts.Render("~/bundles/modernizr")

        @* Add these to the correct pages*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")

        @{ Html.RenderPartial("~/Views/Shared/_DynamicJavascript.cshtml"); }
        
        @if(
            "StoryPortal".Equals(controller, StringComparison.CurrentCultureIgnoreCase) 
            || "SiteAdmin".Equals(controller, StringComparison.CurrentCultureIgnoreCase))
        { 
            @Styles.Render("~/Content/tagnav")
            @Scripts.Render("~/bundles/tags")    
        }
        @RenderSection("head", required: false)
    </head>
    <body>
        <div>
            <header class="clear-fix">
                <section id="loginSection" class="clear-fix">
                    @Html.Partial("_LoginPartial")
                </section>
                <div class="float-left">
                    <h1>PROJECT LIGHT SWITCH!</h1>
                </div>
                <div>
                    <nav>
                        <ul>

                            <!-- Reversed order because float right -->
                            <li>@Html.ActionLink("About Us", "About", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Store", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Happiness Ninjas", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Media", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("StoryPortal", "Index", "StoryPortal", new { area="" }, null)</li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div id="global-messages">
                @{
                    IEnumerable<string> messages = ProjectLightSwitch.HelperFunctions.GetGlobalMessages(TempData);
                    if (messages.Count() > 0)
                    {
                        <h2>Messages:</h2>
                        <ul>
                            @foreach (string message in messages)
                            {
                                <li>@message</li>
                            }
                        </ul>
                    }
                }
            </div>
            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - Project Light Switch</p>
                    </div>
                </div>
            </footer>

            @RenderSection("scripts", required: false)
        </div>
    </body>
</html>
