@{
    string controller = Url.RequestContext.RouteData.Values["Controller"] as string;
    bool isAdmin = User.IsInRole(ProjectLightSwitch.Models.SiteSettings.AdminRole);
    bool loggedin = User.Identity.IsAuthenticated;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Project Light Switch - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @{ Html.RenderPartial("~/Views/Shared/_DynamicJavascript.cshtml"); }
        @if(
            "StoryPortal".Equals(controller, StringComparison.CurrentCultureIgnoreCase) 
            || "SiteAdmin".Equals(controller, StringComparison.CurrentCultureIgnoreCase))
        { 
            @Styles.Render("~/Content/tagnav")
            @Scripts.Render("~/bundles/tags")    
        }
        
        @Styles.Render("~/Content/css")
        @RenderSection("head", required: false)
    </head>
    <body>
        <div>
            
            <header>
                <img src="~/Images/logo_small.png" alt="logo" class="float-left" />
                <nav>
                    <div id="loginSection" class="float-right">
                        
                        <ul>
                            <!-- Reversed order because float right -->
                            <li>@Html.ActionLink("Mission", "Index", "Home", null, null, "mission", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("About", "Index", "Home", null, null, "about", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Projects", "Index", "Home", null, null, "projects", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Join Us", "Index", "Home", null, null, "join-us", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Future Plans", "Index", "Home", null, null, "future-plans", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Contact", "Index", "Home", null, null, "contact", new { area = "" }, null)</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </nav>
            </header>

            @Html.Partial("_LoginPartial")

            @{IEnumerable<string> messages = ProjectLightSwitch.HelperFunctions.GetGlobalMessages(TempData);}
            @if(messages.Any())
            {
                <section id="global-messages">
                    <h2>Messages:</h2>
                    <ul>
                        @foreach (string message in messages)
                        {
                            <li>@message</li>
                        }
                    </ul>
                </section>
            }
            @RenderBody()
            @{Html.RenderPartial("~/Views/Shared/_Footer.cshtml", null);}
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
