<section id="login" class="right">
@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", new { area="" }, FormMethod.Post, new { id = "logoutForm" }))
    {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
        @if (User.IsInRole("Administrator"))
    {
            <span> | </span>@Html.ActionLink("Administration", "Index", "Home",  new { area="SiteAdmin" }, null);
    }
    </text>
} else {
    @Html.ActionLink("Register", "Register", "Account", routeValues: new { area="" }, htmlAttributes: new { id = "registerLink" })
    <span> | </span>
    @Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })
}
</section>